<a href="https://colab.research.google.com/github/phong0104/Study_Pandas300/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_300%EC%A0%9C_101_200.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://wikidocs.net/155543

### 101~110

In [ ]:
data = {
    '2020-12-11':	73400,
    '2020-12-10':	72900,
    '2020-12-09':	73900,
    '2020-12-08':	71700,
    '2020-12-07':	72900,
}

s = Series(data)
s

2020-12-11    73400
2020-12-10    72900
2020-12-09    73900
2020-12-08    71700
2020-12-07    72900
dtype: int64

In [ ]:
s.sum()

364800

In [ ]:
s.mean()

72960.0

In [ ]:
data = {
    "2020-12-11": 1.01,
    "2020-12-10": 0.99,
    "2020-12-09": 1.03,
    "2020-12-08": 1.02,
    "2020-12-07": 1
}

s = Series(data)
print(s.product())

1.05049494

In [ ]:
data = {
    '2020-12-11':	73400,
    '2020-12-10':	72900,
    '2020-12-09':	73900,
    '2020-12-08':	71700,
    '2020-12-07':	72900,
}

s = Series(data)
s.max()

73900

In [ ]:
s.min()

71700

### 111~120

count

In [ ]:
import numpy as np
from pandas import Series 

data = [1, 2, 3, 4, np.nan]
s = Series(data=data)

In [ ]:
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
dtype: float64

In [ ]:
len(s[s.isnull()])

1

In [ ]:
s.count()

4

In [ ]:
data = ["100", "200", "300"]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [ ]:
s

철수    100
영희    200
아름    300
dtype: object

In [ ]:
s.astype(int)

철수    100
영희    200
아름    300
dtype: int64

In [ ]:
s.astype(np.int32)

철수    100
영희    200
아름    300
dtype: int32

In [ ]:
data = ["100,000", "200,000", "300,000"]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s

철수    100,000
영희    200,000
아름    300,000
dtype: object

In [ ]:
s.str.replace(',','').astype('int32')

철수    100000
영희    200000
아름    300000
dtype: int32

In [ ]:
import pandas as pd

s = pd.Series(["30세", "40세", "50세"], index=["김대리", "이과장", "박차장"])
s

김대리    30세
이과장    40세
박차장    50세
dtype: object

In [ ]:
s.str[:-1].astype('int32')

김대리    30
이과장    40
박차장    50
dtype: int32

In [ ]:
import pandas as pd

s = pd.Series([1, 2, 3, 4], index=["d", "c", "a", "b"])
s

d    1
c    2
a    3
b    4
dtype: int64

In [ ]:
s.sort_index()

a    3
b    4
c    2
d    1
dtype: int64

In [ ]:
s.reindex(['a','b','c','d'])

a    3
b    4
c    2
d    1
dtype: int64

In [ ]:
import pandas as pd
s = pd.Series([1, 2, 3])
s

0    1
1    2
2    3
dtype: int64

In [ ]:
s.to_list()

[1, 2, 3]

In [ ]:
list(s)

[1, 2, 3]

In [ ]:
s.to_dict()

{0: 1, 1: 2, 2: 3}

In [ ]:
dict(s)

{0: 1, 1: 2, 2: 3}

In [ ]:
import pandas as pd

s = pd.Series([1, 2, 3, np.nan])
s

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [ ]:
s.dropna()

0    1.0
1    2.0
2    3.0
dtype: float64

(Check) Series.map

In [ ]:
import pandas as pd

s = pd.Series(["1,234", "5,678", "9,876"])
s

0    1,234
1    5,678
2    9,876
dtype: object

In [ ]:
s.map(lambda x: int(x.replace(",", "")))

0    1234
1    5678
2    9876
dtype: int64

In [ ]:
import pandas as pd

s = pd.Series([10, 100, 1000])
s

0      10
1     100
2    1000
dtype: int64

In [ ]:
s.apply(np.log10)

0    1.0
1    2.0
2    3.0
dtype: float64

### 121~130

dropna

In [ ]:
import numpy as np
from pandas import Series

data = [1, 2, 3, 4, np.nan]
s = Series(data=data)
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
dtype: float64

In [ ]:
s.dropna()

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

nlargest

In [ ]:
from pandas import Series

data = range(1, 11)
s = Series(data=data)
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
s.nlargest(3)

9    10
8     9
7     8
dtype: int64

nsmallest

In [ ]:
from pandas import Series

data = range(1, 11)
s = Series(data=data)
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
s.nsmallest(3)

0    1
1    2
2    3
dtype: int64

Series.dt.year

In [ ]:
import pandas as pd
from datetime import datetime
s = pd.Series([datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)])
s

0   2020-01-01
1   2021-01-01
2   2022-01-01
dtype: datetime64[ns]

In [ ]:
s.dt.year

0    2020
1    2021
2    2022
dtype: int64

In [ ]:
import pandas as pd
from datetime import datetime

index = [datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)]
data = [100, 200, 300]
s = pd.Series(data=data, index=index)
s

2020-01-01    100
2021-01-01    200
2022-01-01    300
dtype: int64

In [ ]:
s.index.year

Int64Index([2020, 2021, 2022], dtype='int64')

Series.dt.day

In [ ]:
import pandas as pd
from datetime import datetime
s = pd.Series([datetime(2022,1,1), datetime(2022,1,2), datetime(2022,1,3)])

In [ ]:
s.dt.day

0    1
1    2
2    3
dtype: int64

strftime

In [ ]:
import pandas as pd
from datetime import datetime

index = [datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)]
data = [100, 200, 300]
s = pd.Series(data=data, index=index)
s

2020-01-01    100
2021-01-01    200
2022-01-01    300
dtype: int64

In [ ]:
s.index.strftime('%Y-%m-%d 00:00:00')

Index(['2020-01-01 00:00:00', '2021-01-01 00:00:00', '2022-01-01 00:00:00'], dtype='object')

Series.str.cat

In [ ]:
import pandas as pd

s = pd.Series(["000020", "000040", "005930"])

In [ ]:
s

0    000020
1    000040
2    005930
dtype: object

In [ ]:
s.str.cat(sep=';')

'000020;000040;005930'

In [ ]:
import pandas as pd

s = pd.Series(["000020", "000040", "005930"])
s

0    000020
1    000040
2    005930
dtype: object

In [ ]:
'A' + s

0    A000020
1    A000040
2    A005930
dtype: object

Series.str.zfill

In [ ]:
import pandas as pd

s = pd.Series(["20", "40", "5930"])

In [ ]:
s.str.zfill(6)

0    000020
1    000040
2    005930
dtype: object

### 091~100 DataFrame 생성

In [ ]:
pd.DataFrame({'이름':['김은수','박정민','이하나'], '나이':[35,30,28], '직책':['과장','대리','대리']})

    이름  나이  직책
0  김은수  35  과장
1  박정민  30  대리
2  이하나  28  대리

In [ ]:
pd.DataFrame(data=[['김은수','박정민','이하나'], [35,30,28], ['과장','대리','대리']], columns=['이름','나이','직책'])

    이름   나이   직책
0  김은수  박정민  이하나
1   35   30   28
2   과장   대리   대리

In [ ]:
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005760   ACTS  1185  1.28

In [ ]:
df.set_index('종목코드')

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [ ]:
df = df.set_index('종목코드')
df.index.name = '종목코드'

In [ ]:
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [ ]:
import pandas as pd

index = ["037730", "036360", "005760"]
data = [["3R", "1510"],
         ["3SOFT", 1790],
         ["ACTS", 1185]]
columns = ["종목명", "현재가"]

In [ ]:
pd.DataFrame(data=data, index=index, columns=columns)

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790
005760   ACTS  1185

In [ ]:
pd.DataFrame(np.arange(8).reshape(2,4))

   0  1  2  3
0  0  1  2  3
1  4  5  6  7

In [ ]:
import pandas as pd

index = ["037730", "036360", "005760"]
data = [["3R", "1510"],
         ["3SOFT", 1790],
         ["ACTS", 1185]]
columns = ["종목명", "현재가"]
df = pd.DataFrame(data=data, index=index, columns=columns)
df

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790
005760   ACTS  1185

In [ ]:
df.reset_index()

    index    종목명   현재가
0  037730     3R  1510
1  036360  3SOFT  1790
2  005760   ACTS  1185

In [ ]:
df.index

Index(['037730', '036360', '005760'], dtype='object')

In [ ]:
df.columns

Index(['종목명', '현재가'], dtype='object')

In [ ]:
d = {'col1': [1, 2], 'col2': [3, 4]}

In [ ]:
pd.DataFrame(d, dtype=np.int8)

   col1  col2
0     1     3
1     2     4

In [ ]:
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

In [ ]:
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [ ]:
df[['현재가']]

         현재가
종목코드
037730  1510
036360  1790
005760  1185

In [ ]:
df[['현재가','등락률']]

         현재가   등락률
종목코드
037730  1510  7.36
036360  1790  1.65
005760  1185  1.28

In [ ]:
df.iloc[0]

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [ ]:
df.iloc[-1]

종목명    ACTS
현재가    1185
등락률    1.28
Name: 005760, dtype: object

In [ ]:
df.iloc[[0,2]]

         종목명   현재가   등락률
종목코드
037730    3R  1510  7.36
005760  ACTS  1185  1.28

In [ ]:
df.loc['037730']

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [ ]:
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [ ]:
df.loc[['037730','005760']]

         종목명   현재가   등락률
종목코드
037730    3R  1510  7.36
005760  ACTS  1185  1.28

In [ ]:
df.iloc[0, 2]

7.36

In [ ]:
df.iat[0,2]

7.36

In [ ]:
df.at['037730', '등락률']

7.36

### 111~120

특정 값 가져오기(loc)

In [ ]:
import pandas as pd

data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [ ]:
df.loc['037730','등락률']

7.36

In [ ]:
df.iloc[0:2]

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

In [ ]:
df.loc['037730':'036360']

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

In [ ]:
df.iloc[:,0]

종목코드
037730       3R
036360    3SOFT
005760     ACTS
Name: 종목명, dtype: object

In [ ]:
df.loc[:,'종목명']

종목코드
037730       3R
036360    3SOFT
005760     ACTS
Name: 종목명, dtype: object

In [ ]:
df.loc['037730',['종목명','현재가']]

종목명      3R
현재가    1510
Name: 037730, dtype: object

In [ ]:
df.iloc[0, 0:2]

종목명      3R
현재가    1510
Name: 037730, dtype: object

In [ ]:
df.iloc[0, [0,1]]

종목명      3R
현재가    1510
Name: 037730, dtype: object

In [ ]:
df.loc['037730':'036360','종목명':'현재가']

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790

In [ ]:
df.loc[["037730", "036360"], ["종목명", "현재가"]]

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790

In [ ]:
df.iloc[0:2,0:2]

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790

In [ ]:
df.iloc[[0,1],[0,1]]

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790

### 121~130

필터링

In [ ]:
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [ ]:
df[df['현재가'] >= 1500]

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

In [ ]:
df[(df['현재가'] >= 1500) & (df['현재가'] < 1700) ]

       종목명   현재가   등락률
종목코드
037730  3R  1510  7.36

컬럼 추가

In [ ]:
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [ ]:
df['목표가'] = df['현재가'] * 1.1
df

          종목명   현재가   등락률     목표가
종목코드
037730     3R  1510  7.36  1661.0
036360  3SOFT  1790  1.65  1969.0
005760   ACTS  1185  1.28  1303.5

In [ ]:
del df['목표가']

In [ ]:
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

로우추가

In [ ]:
df.loc['066570'] = ['LG전자',60000, 3.84]
df

          종목명    현재가   등락률
종목코드
037730     3R   1510  7.36
036360  3SOFT   1790  1.65
005760   ACTS   1185  1.28
066570   LG전자  60000  3.84

In [ ]:
df = pd.DataFrame(data = [[1, 2, 3], [4, 5, 6]], columns=["A", "B", "C"])

In [ ]:
df

   A  B  C
0  1  2  3
1  4  5  6

In [ ]:
df.columns = ['a','b','c']

In [ ]:
df

   a  b  c
0  1  2  3
1  4  5  6

In [ ]:
df = pd.DataFrame(data = [[1, 2, 3], [4, 5, 6]], columns=["A", "B", "C"])

In [ ]:
df

   A  B  C
0  1  2  3
1  4  5  6

In [ ]:
df.rename(columns = {'A':'a','B':'b','C':'c'}, inplace=True)

In [ ]:
df

   a  b  c
0  1  2  3
1  4  5  6

In [ ]:
import numpy as np

data = {"카카오": [np.nan, 221, 35], "NAVER": [52, 47, 3]}
index = [2019, 2020, 2021]
df = pd.DataFrame(data=data, index=index)

In [ ]:
df

        카카오  NAVER
2019    NaN     52
2020  221.0     47
2021   35.0      3

In [ ]:
df.index.name = 'year'

In [ ]:
df

        카카오  NAVER
year
2019    NaN     52
2020  221.0     47
2021   35.0      3

In [ ]:
df.columns.name = 'company'

In [ ]:
df

company    카카오  NAVER
year
2019       NaN     52
2020     221.0     47
2021      35.0      3

In [ ]:
import pandas as pd
import numpy as np

data = {"카카오": [np.nan, 221, 35], "NAVER": [52, 47, 3]}
index = [2019, 2020, 2021]
df = pd.DataFrame(data=data, index=index)
df

        카카오  NAVER
2019    NaN     52
2020  221.0     47
2021   35.0      3

In [ ]:
df2 = df.reindex(columns=['NAVER','카카오'])

In [ ]:
df2

      NAVER    카카오
2019     52    NaN
2020     47  221.0
2021      3   35.0

In [ ]:
import pandas as pd
import numpy as np

data = {"카카오": [np.nan, 221, 35], "NAVER": [52, 47, 3]}
index = [2019, 2020, 2021]
df = pd.DataFrame(data=data, index=index)
df

        카카오  NAVER
2019    NaN     52
2020  221.0     47
2021   35.0      3

In [ ]:
del df['NAVER']

In [ ]:
df

        카카오
2019    NaN
2020  221.0
2021   35.0

In [ ]:
df.drop('NAVER', axis=1)

        카카오
2019    NaN
2020  221.0
2021   35.0

In [ ]:
import pandas as pd
import numpy as np

data = {"카카오": [np.nan, 221, 35], 
        "NAVER": [52, 47, 3],
        "삼성전자": [17, 21, 13]}
index = [2019, 2020, 2021]
df = pd.DataFrame(data=data, index=index)
df

        카카오  NAVER  삼성전자
2019    NaN     52    17
2020  221.0     47    21
2021   35.0      3    13

In [ ]:
df.drop(['카카오','NAVER'], axis=1)

      삼성전자
2019    17
2020    21
2021    13

### 131 ~ 140

In [ ]:
from pandas import DataFrame
import numpy as np

data = [
    {"cd":"A060310", "nm":"3S", "close":"2,920"},
    {"cd":"A095570", "nm":"AJ네트웍스", "close":"6,250"},
    {"cd":"A006840", "nm":"AK홀딩스", "close":"29,700"},
    {"cd":"A054620", "nm":"APS홀딩스", "close":"19,400"}
]
df = DataFrame(data=data)

In [ ]:
df

        cd      nm   close
0  A060310      3S   2,920
1  A095570  AJ네트웍스   6,250
2  A006840   AK홀딩스  29,700
3  A054620  APS홀딩스  19,400

In [ ]:
df['cd'].str[1:]

0    060310
1    095570
2    006840
3    054620
Name: cd, dtype: object

In [ ]:
df

        cd      nm   close
0  A060310      3S   2,920
1  A095570  AJ네트웍스   6,250
2  A006840   AK홀딩스  29,700
3  A054620  APS홀딩스  19,400

In [ ]:
df.loc[:,'cd'] = df['cd'].str[1:]

In [ ]:
df

       cd      nm   close
0  060310      3S   2,920
1  095570  AJ네트웍스   6,250
2  006840   AK홀딩스  29,700
3  054620  APS홀딩스  19,400

In [ ]:
from pandas import DataFrame
import numpy as np

data = [
    {"cd":"A060310", "nm":"3S", "close":"2,920"},
    {"cd":"A095570", "nm":"AJ네트웍스", "close":"6,250"},
    {"cd":"A006840", "nm":"AK홀딩스", "close":"29,700"},
    {"cd":"A054620", "nm":"APS홀딩스", "close":"19,400"}
]
df = DataFrame(data=data)

In [ ]:
df

        cd      nm   close
0  A060310      3S   2,920
1  A095570  AJ네트웍스   6,250
2  A006840   AK홀딩스  29,700
3  A054620  APS홀딩스  19,400

In [ ]:
df['cd'] = df['cd'].str[1:]

In [ ]:
df

       cd      nm   close
0  060310      3S   2,920
1  095570  AJ네트웍스   6,250
2  006840   AK홀딩스  29,700
3  054620  APS홀딩스  19,400

In [ ]:
df['close'] = df['close'].str.replace(',','')

In [ ]:
df

       cd      nm  close
0  060310      3S   2920
1  095570  AJ네트웍스   6250
2  006840   AK홀딩스  29700
3  054620  APS홀딩스  19400

In [ ]:
df['close'] = df['close'].astype(np.int64)

In [ ]:
df

       cd      nm  close
0  060310      3S   2920
1  095570  AJ네트웍스   6250
2  006840   AK홀딩스  29700
3  054620  APS홀딩스  19400

In [ ]:
df['close'].dtype

dtype('int64')

In [ ]:
import pandas as pd

data = [
    [1, 2, 3],
    [np.nan, 5, 6],
    [7, np.nan, 9],
    [10, 11, np.nan]
]

df = pd.DataFrame(data)

In [ ]:
df

      0     1    2
0   1.0   2.0  3.0
1   NaN   5.0  6.0
2   7.0   NaN  9.0
3  10.0  11.0  NaN

In [ ]:
df.dropna()

     0    1    2
0  1.0  2.0  3.0

In [ ]:
import pandas as pd
import numpy as np

data = [
    [1, 1, np.nan],
    [10, np.nan, 10],
    [2, 3, 4]
]
columns = ['col0', 'col1', 'col2']
df = pd.DataFrame(data, columns=columns)

In [ ]:
df

   col0  col1  col2
0     1   1.0   NaN
1    10   NaN  10.0
2     2   3.0   4.0

Check! 정답부분 오타

In [ ]:
df.dropna(subset=['col1'])

   col0  col1  col2
0     1   1.0   NaN
2     2   3.0   4.0

In [ ]:
import pandas as pd
import numpy as np

data = [
    [1, 1, np.nan],
    [10, np.nan, 10],
    [2, 3, 4]
]
columns = ['col0', 'col1', 'col2']
df = pd.DataFrame(data, columns=columns)

In [ ]:
df

   col0  col1  col2
0     1   1.0   NaN
1    10   NaN  10.0
2     2   3.0   4.0

In [ ]:
df.fillna(0)

   col0  col1  col2
0     1   1.0   0.0
1    10   0.0  10.0
2     2   3.0   4.0

In [ ]:
import pandas as pd
import numpy as np

data = [
    [1, 1, np.nan],
    [10, np.nan, 10],
    [2, 3, 4]
]
columns = ['col0', 'col1', 'col2']
df = pd.DataFrame(data, columns=columns)

In [ ]:
df

   col0  col1  col2
0     1   1.0   NaN
1    10   NaN  10.0
2     2   3.0   4.0

In [ ]:
df.fillna(method='ffill')

   col0  col1  col2
0     1   1.0   NaN
1    10   1.0  10.0
2     2   3.0   4.0

In [ ]:
import pandas as pd
import numpy as np

data = [
    [1, 1, np.nan],
    [10, np.nan, 10],
    [2, 3, 4]
]
columns = ['col0', 'col1', 'col2']
df = pd.DataFrame(data, columns=columns)

In [ ]:
df

   col0  col1  col2
0     1   1.0   NaN
1    10   NaN  10.0
2     2   3.0   4.0

In [ ]:
df.isna()

    col0   col1   col2
0  False  False   True
1  False   True  False
2  False  False  False

In [ ]:
df.notna()

   col0   col1   col2
0  True   True  False
1  True  False   True
2  True   True   True

In [ ]:
import pandas as pd
import numpy as np

data = np.arange(9).reshape(3, 3)
df = pd.DataFrame(data)

In [ ]:
df

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [ ]:
df.replace(0, 100)

     0  1  2
0  100  1  2
1    3  4  5
2    6  7  8

In [ ]:
import pandas as pd

data = {
    'fruit': ['apple', 'orange', 'orange', 'apple', 'apple', 'apple'],
    'weight': [1.5, 1.3, 3.7, 2.4, 1.7, 1.8]
}
df = pd.DataFrame(data)

In [ ]:
df

    fruit  weight
0   apple     1.5
1  orange     1.3
2  orange     3.7
3   apple     2.4
4   apple     1.7
5   apple     1.8

In [ ]:
df['fruit'] = df['fruit'].astype('category')

In [ ]:
df

    fruit  weight
0   apple     1.5
1  orange     1.3
2  orange     3.7
3   apple     2.4
4   apple     1.7
5   apple     1.8

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fruit   6 non-null      category
 1   weight  6 non-null      float64
dtypes: category(1), float64(1)
memory usage: 306.0 bytes

### 141 ~ 150

In [ ]:
data = [
    {"cd":"A060310", "nm":"3S", "open":2920, "close":2800},
    {"cd":"A095570", "nm":"AJ네트웍스", "open":1920, "close":1900},
    {"cd":"A006840", "nm":"AK홀딩스", "open":2020, "close":2010},
    {"cd":"A054620", "nm":"APS홀딩스", "open":3120, "close":3200}
]
df = DataFrame(data=data)
df = df.set_index('cd')

In [ ]:
df

             nm  open  close
cd
A060310      3S  2920   2800
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

In [ ]:
df[ df['close'] > df['open'] ]

             nm  open  close
cd
A054620  APS홀딩스  3120   3200

In [ ]:
df.query('close > open')

             nm  open  close
cd
A054620  APS홀딩스  3120   3200

In [ ]:
df.query('close >= 3000')

             nm  open  close
cd
A054620  APS홀딩스  3120   3200

In [ ]:
df.query('open >=2000 and close >= open')

             nm  open  close
cd
A054620  APS홀딩스  3120   3200

In [ ]:
df

             nm  open  close
cd
A060310      3S  2920   2800
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

Check

In [ ]:
df.query("nm.str.startswith('A')")

UndefinedVariableError: ignored

In [ ]:
df[df['nm'].str.startswith('A')]

             nm  open  close
cd
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

In [ ]:
from pandas import DataFrame

data = np.arange(6).reshape(2,3)
columns = ['col 0', 'col 1', 'col 2']
df = DataFrame(data=data, columns=columns)

In [ ]:
df

   col 0  col 1  col 2
0      0      1      2
1      3      4      5

In [ ]:
df[ df['col 0'] == 0 ]

   col 0  col 1  col 2
0      0      1      2

Check

In [ ]:
df.query("'col 0' == 0")

TypeError: ignored

In [ ]:
data = {
    "PER": [6.42, 17.63, 21.09, 13.93],
    "PBR": [1.10, 1.49, 2.06, 1.88],
    "DPS": [1416, 1716, 2994, 1755]
}
index = ["2019/12", "2020/12", "2021/12", "2022/12(E)"]
df = pd.DataFrame(data=data, index=index)

In [ ]:
df

              PER   PBR   DPS
2019/12      6.42  1.10  1416
2020/12     17.63  1.49  1716
2021/12     21.09  2.06  2994
2022/12(E)  13.93  1.88  1755

In [ ]:
df.filter(['PER','PBR'])

              PER   PBR
2019/12      6.42  1.10
2020/12     17.63  1.49
2021/12     21.09  2.06
2022/12(E)  13.93  1.88

In [ ]:
df.filter(regex="P.R", axis=1)

              PER   PBR
2019/12      6.42  1.10
2020/12     17.63  1.49
2021/12     21.09  2.06
2022/12(E)  13.93  1.88

In [ ]:
df.filter(regex='12$', axis=0)

           PER   PBR   DPS
2019/12   6.42  1.10  1416
2020/12  17.63  1.49  1716
2021/12  21.09  2.06  2994

In [ ]:
df

              PER   PBR   DPS
2019/12      6.42  1.10  1416
2020/12     17.63  1.49  1716
2021/12     21.09  2.06  2994
2022/12(E)  13.93  1.88  1755

In [ ]:
df.filter(like='2022', axis=0)

              PER   PBR   DPS
2022/12(E)  13.93  1.88  1755

### 151 ~ 160

In [ ]:
from datetime import datetime

columns = ['open', 'high', 'low', 'close']
index1 = [
    datetime(2022, 9, 8),
    datetime(2022, 9, 7),
    datetime(2022, 9, 6),
    datetime(2022, 9, 5),
    datetime(2022, 9, 2)
]

index2 = [
    datetime(2022, 9, 1),
    datetime(2022, 8, 31),
    datetime(2022, 8, 30),
    datetime(2022, 8, 29),
    datetime(2022, 8, 26)
]

df1 = pd.DataFrame(data=np.arange(0, 20).reshape(5,4), index=index1, columns=columns)
df2 = pd.DataFrame(data=np.arange(20,40).reshape(5,4), index=index2, columns=columns)

In [ ]:
df1

            open  high  low  close
2022-09-08     0     1    2      3
2022-09-07     4     5    6      7
2022-09-06     8     9   10     11
2022-09-05    12    13   14     15
2022-09-02    16    17   18     19

In [ ]:
df2

            open  high  low  close
2022-09-01    20    21   22     23
2022-08-31    24    25   26     27
2022-08-30    28    29   30     31
2022-08-29    32    33   34     35
2022-08-26    36    37   38     39

In [ ]:
pd.concat([df1, df2])

            open  high  low  close
2022-09-08     0     1    2      3
2022-09-07     4     5    6      7
2022-09-06     8     9   10     11
2022-09-05    12    13   14     15
2022-09-02    16    17   18     19
2022-09-01    20    21   22     23
2022-08-31    24    25   26     27
2022-08-30    28    29   30     31
2022-08-29    32    33   34     35
2022-08-26    36    37   38     39

In [ ]:
pd.concat([df1, df2], axis=0)

            open  high  low  close
2022-09-08     0     1    2      3
2022-09-07     4     5    6      7
2022-09-06     8     9   10     11
2022-09-05    12    13   14     15
2022-09-02    16    17   18     19
2022-09-01    20    21   22     23
2022-08-31    24    25   26     27
2022-08-30    28    29   30     31
2022-08-29    32    33   34     35
2022-08-26    36    37   38     39

In [ ]:
pd.concat([df2, df1], axis=0)

            open  high  low  close
2022-09-01    20    21   22     23
2022-08-31    24    25   26     27
2022-08-30    28    29   30     31
2022-08-29    32    33   34     35
2022-08-26    36    37   38     39
2022-09-08     0     1    2      3
2022-09-07     4     5    6      7
2022-09-06     8     9   10     11
2022-09-05    12    13   14     15
2022-09-02    16    17   18     19

In [ ]:
index = [
    datetime(2022, 9, 8),
    datetime(2022, 9, 7),
    datetime(2022, 9, 6),
    datetime(2022, 9, 5),
    datetime(2022, 9, 2)
]

df1 = pd.DataFrame(data=np.arange(0, 10).reshape(5,2), index=index, columns=['open', 'high'])
df2 = pd.DataFrame(data=np.arange(10,20).reshape(5,2), index=index, columns=['low', 'close'])

In [ ]:
df1

            open  high
2022-09-08     0     1
2022-09-07     2     3
2022-09-06     4     5
2022-09-05     6     7
2022-09-02     8     9

In [ ]:
df2

            low  close
2022-09-08   10     11
2022-09-07   12     13
2022-09-06   14     15
2022-09-05   16     17
2022-09-02   18     19

In [ ]:
pd.concat([df1, df2], axis=1)

            open  high  low  close
2022-09-08     0     1   10     11
2022-09-07     2     3   12     13
2022-09-06     4     5   14     15
2022-09-05     6     7   16     17
2022-09-02     8     9   18     19

In [ ]:
index1 = [
    datetime(2022, 9, 8),
    datetime(2022, 9, 7)
]

index2 = [
    datetime(2022, 9, 6),
    datetime(2022, 9, 5)
]
df1 = pd.DataFrame(np.arange(0, 6).reshape(2,3), index=index1, columns=['open', 'high', 'low'])
df2 = pd.DataFrame(np.arange(6,12).reshape(2,3), index=index2, columns=['high', 'low', 'close'])

In [ ]:
df1

            open  high  low
2022-09-08     0     1    2
2022-09-07     3     4    5

In [ ]:
df2

            high  low  close
2022-09-06     6    7      8
2022-09-05     9   10     11

In [ ]:
pd.concat([df1, df2], join='outer')

            open  high  low  close
2022-09-08   0.0     1    2    NaN
2022-09-07   3.0     4    5    NaN
2022-09-06   NaN     6    7    8.0
2022-09-05   NaN     9   10   11.0

In [ ]:
pd.concat([df1, df2], join='inner')

            high  low
2022-09-08     1    2
2022-09-07     4    5
2022-09-06     6    7
2022-09-05     9   10

In [ ]:
pd.concat([df1, df2], join='inner', axis=0)

            high  low
2022-09-08     1    2
2022-09-07     4    5
2022-09-06     6    7
2022-09-05     9   10

In [ ]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])

In [ ]:
s1

0    a
1    b
dtype: object

In [ ]:
s2

0    c
1    d
dtype: object

In [ ]:
pd.concat([s1, s2], axis=1)

   0  1
0  a  c
1  b  d

In [ ]:
df1 = pd.DataFrame(np.arange(0, 4).reshape(2,2))
df2 = pd.DataFrame(np.arange(4, 8).reshape(2,2))

In [ ]:
df1

   0  1
0  0  1
1  2  3

In [ ]:
df2

   0  1
0  4  5
1  6  7

In [ ]:
pd.concat([df1, df2], ignore_index=True)

   0  1
0  0  1
1  2  3
2  4  5
3  6  7

In [ ]:
index = ["2020", "2021"]

data1 = {
    "PER": [21.09, 13.55],
    "PBR": [2.06, 1.80]
}

data2 = {
    "PER": [12.40, 24.19],
    "PBR": [1.58, 1.44]
}

df1 = pd.DataFrame(data=data1, index=index)
df2 = pd.DataFrame(data=data2, index=index)

In [ ]:
df1

        PER   PBR
2020  21.09  2.06
2021  13.55  1.80

In [ ]:
df2

        PER   PBR
2020  12.40  1.58
2021  24.19  1.44

Check

In [ ]:
pd.concat([df1, df2], multi_index=True)

TypeError: ignored

In [ ]:
pd.concat([df1, df2], keys=['삼성전자', 'LG전자'], names=['종목명', '연도'])

             PER   PBR
종목명  연도
삼성전자 2020  21.09  2.06
     2021  13.55  1.80
LG전자 2020  12.40  1.58
     2021  24.19  1.44

In [ ]:
df1

        PER   PBR
2020  21.09  2.06
2021  13.55  1.80

In [ ]:
df2

        PER   PBR
2020  12.40  1.58
2021  24.19  1.44

### 161-170

In [ ]:
import pandas as pd

data = [
    ["2차전지(생산)", "SK이노베이션", 10.19, 1.29],
    ["해운", "팬오션", 21.23, 0.95],
    ["시스템반도체", "티엘아이", 35.97, 1.12],
    ["해운", "HMM", 21.52, 3.20],
    ["시스템반도체", "아이에이", 37.32, 3.55],
    ["2차전지(생산)", "LG화학", 83.06, 3.75]
]

columns = ["테마", "종목명", "PER", "PBR"]
df = pd.DataFrame(data=data, columns=columns)

In [ ]:
df

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
1        해운      팬오션  21.23  0.95
2    시스템반도체     티엘아이  35.97  1.12
3        해운      HMM  21.52  3.20
4    시스템반도체     아이에이  37.32  3.55
5  2차전지(생산)     LG화학  83.06  3.75

In [ ]:
df.groupby(['테마'])[['PER','PBR']].mean()

             PER    PBR
테마
2차전지(생산)  46.625  2.520
시스템반도체    36.645  2.335
해운        21.375  2.075

In [ ]:
df.groupby(by='테마').mean()

             PER    PBR
테마
2차전지(생산)  46.625  2.520
시스템반도체    36.645  2.335
해운        21.375  2.075

In [ ]:
data = [
    ["2차전지(생산)", "SK이노베이션", 10.19, 1.29],
    ["해운", "팬오션", 21.23, 0.95],
    ["시스템반도체", "티엘아이", 35.97, 1.12],
    ["해운", "HMM", 21.52, 3.20],
    ["시스템반도체", "아이에이", 37.32, 3.55],
    ["2차전지(생산)", "LG화학", 83.06, 3.75]
]

columns = ["테마", "종목명", "PER", "PBR"]
df = pd.DataFrame(data=data, columns=columns)

In [ ]:
df.groupby('테마').max()

              종목명    PER   PBR
테마
2차전지(생산)  SK이노베이션  83.06  3.75
시스템반도체       티엘아이  37.32  3.55
해운            팬오션  21.52  3.20

In [ ]:
df.groupby(['테마']).min()

           종목명    PER   PBR
테마
2차전지(생산)  LG화학  10.19  1.29
시스템반도체    아이에이  35.97  1.12
해운         HMM  21.23  0.95

In [ ]:
df.groupby(['테마']).count()

          종목명  PER  PBR
테마
2차전지(생산)    2    2    2
시스템반도체      2    2    2
해운          2    2    2

In [ ]:
df.groupby(['테마']).size()

테마
2차전지(생산)    2
시스템반도체      2
해운          2
dtype: int64

In [ ]:
gb = df.groupby(['테마'])
gb.get_group('2차전지(생산)')

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
5  2차전지(생산)     LG화학  83.06  3.75

In [ ]:
df.groupby('테마')[['PER']].mean()

             PER
테마
2차전지(생산)  46.625
시스템반도체    36.645
해운        21.375

In [ ]:
df.groupby('테마')[['PER','PBR']].mean()

             PER    PBR
테마
2차전지(생산)  46.625  2.520
시스템반도체    36.645  2.335
해운        21.375  2.075

In [ ]:
df.groupby('테마').max()

              종목명    PER   PBR
테마
2차전지(생산)  SK이노베이션  83.06  3.75
시스템반도체       티엘아이  37.32  3.55
해운            팬오션  21.52  3.20

In [ ]:
df.groupby('테마').agg(max)

              종목명    PER   PBR
테마
2차전지(생산)  SK이노베이션  83.06  3.75
시스템반도체       티엘아이  37.32  3.55
해운            팬오션  21.52  3.20

In [ ]:
df.groupby('테마').agg({'PER':max, 'PBR':min})

            PER   PBR
테마
2차전지(생산)  83.06  1.29
시스템반도체    37.32  1.12
해운        21.52  0.95

In [ ]:
for name, group in df.groupby('테마'):
    print(name)
    display(group)

2차전지(생산)

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
5  2차전지(생산)     LG화학  83.06  3.75

시스템반도체

       테마   종목명    PER   PBR
2  시스템반도체  티엘아이  35.97  1.12
4  시스템반도체  아이에이  37.32  3.55

해운

   테마  종목명    PER   PBR
1  해운  팬오션  21.23  0.95
3  해운  HMM  21.52  3.20

In [ ]:
display(2)

2

In [ ]:
display('2')

'2'

In [ ]:
group

   테마  종목명    PER   PBR
1  해운  팬오션  21.23  0.95
3  해운  HMM  21.52  3.20

In [ ]:
import numpy as np

df.groupby('테마').agg({'PER':np.mean, 'PBR':np.std})

             PER       PBR
테마
2차전지(생산)  46.625  1.739483
시스템반도체    36.645  1.718269
해운        21.375  1.590990

In [ ]:
df.groupby('테마')[['PER','PBR']].agg([np.mean, np.std])

             PER               PBR
            mean        std   mean       std
테마
2차전지(생산)  46.625  51.526871  2.520  1.739483
시스템반도체    36.645   0.954594  2.335  1.718269
해운        21.375   0.205061  2.075  1.590990

In [ ]:
df.groupby(['테마'])['종목명'].nunique()

테마
2차전지(생산)    2
시스템반도체      2
해운          2
Name: 종목명, dtype: int64

In [ ]:
data = {
    "PER": [6.42, 17.63, 21.09, 13.93],
    "PBR": [1.10, 1.49, 2.06, 1.88],
    "DPS": [1416, 1716, 2994, 1755]
}
index = ["2019/12", "2020/12", "2021/12", "2022/12(E)"]
df = pd.DataFrame(data=data, index=index)

In [ ]:
df

              PER   PBR   DPS
2019/12      6.42  1.10  1416
2020/12     17.63  1.49  1716
2021/12     21.09  2.06  2994
2022/12(E)  13.93  1.88  1755

In [ ]:
df.filter(regex="12$", axis=0)

           PER   PBR   DPS
2019/12   6.42  1.10  1416
2020/12  17.63  1.49  1716
2021/12  21.09  2.06  2994

In [ ]:
print(df.query("nm.str.startswith('A').values"))

In [ ]:
data = {
    "PER": [6.42, 17.63, 21.09, 13.93],
    "PBR": [1.10, 1.49, 2.06, 1.88],
    "DPS": [1416, 1716, 2994, 1755]
}
index = ["2019/12", "2020/12", "2021/12", "2022/12(E)"]
df = pd.DataFrame(data=data, index=index)

In [ ]:
df

              PER   PBR   DPS
2019/12      6.42  1.10  1416
2020/12     17.63  1.49  1716
2021/12     21.09  2.06  2994
2022/12(E)  13.93  1.88  1755

In [ ]:
from pandas import DataFrame

data = [
    {"cd":"A060310", "nm":"3S", "open":2920, "close":2800},
    {"cd":"A095570", "nm":"AJ네트웍스", "open":1920, "close":1900},
    {"cd":"A006840", "nm":"AK홀딩스", "open":2020, "close":2010},
    {"cd":"A054620", "nm":"APS홀딩스", "open":3120, "close":3200}
]
df = DataFrame(data=data)
df = df.set_index('cd')

In [ ]:
df.query("nm.str.contains('홀딩스').values")

             nm  open  close
cd
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

In [ ]:
lst = ['A','ㄱ']
sorted(lst)

['A', 'ㄱ']

In [ ]:
sorted(lst, reverse=True)

['ㄱ', 'A']

In [ ]:
lst

['A', 'ㄱ']

### 171-180

In [ ]:
import pandas as pd

data1 = {
    'ID': [100, 101, 102, 103],
    'Name': ['Brayden', 'Clara', 'Ella', 'Oliver']
}

data2 = [
    [100, "삼성전자"],
    [100, "LG전자"],
    [101, "카카오"],
    [101, "NAVER"],
    [101, "현대차"]
]

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data=data2, columns=['ID', '종목명'])

In [ ]:
df1

    ID     Name
0  100  Brayden
1  101    Clara
2  102     Ella
3  103   Oliver

In [ ]:
df2

    ID    종목명
0  100   삼성전자
1  100   LG전자
2  101    카카오
3  101  NAVER
4  101    현대차

In [ ]:
pd.merge(df1, df2, how='inner', on='ID')

    ID     Name    종목명
0  100  Brayden   삼성전자
1  100  Brayden   LG전자
2  101    Clara    카카오
3  101    Clara  NAVER
4  101    Clara    현대차

In [ ]:
pd.merge(df1, df2, how='outer', on='ID')

    ID     Name    종목명
0  100  Brayden   삼성전자
1  100  Brayden   LG전자
2  101    Clara    카카오
3  101    Clara  NAVER
4  101    Clara    현대차
5  102     Ella    NaN
6  103   Oliver    NaN

In [ ]:
import pandas as pd

data1 = {
    'ID': [100, 101, 102, 103],
    'Name': ['Brayden', 'Clara', 'Ella', 'Oliver']
}

data2 = [
    [100, "삼성전자"],
    [100, "LG전자"],
    [101, "카카오"],
    [101, "NAVER"],
    [101, "현대차"]
]

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data=data2, columns=['아이디', '종목명'])

In [ ]:
df1

    ID     Name
0  100  Brayden
1  101    Clara
2  102     Ella
3  103   Oliver

In [ ]:
df2

   아이디    종목명
0  100   삼성전자
1  100   LG전자
2  101    카카오
3  101  NAVER
4  101    현대차

In [ ]:
pd.merge(df1, df2, left_on='ID', right_on='아이디')

    ID     Name  아이디    종목명
0  100  Brayden  100   삼성전자
1  100  Brayden  100   LG전자
2  101    Clara  101    카카오
3  101    Clara  101  NAVER
4  101    Clara  101    현대차

In [ ]:
import pandas as pd

data1 = {
    'ID': [100, 101, 102, 103],
    'Name': ['Brayden', 'Clara', 'Ella', 'Oliver']
}
data2 = [
    [100, "삼성전자"],
    [100, "LG전자"],
    [101, "카카오"],
    [101, "NAVER"],
    [101, "현대차"]
]

df1 = pd.DataFrame(data1)
df1.set_index('ID', inplace=True)
df2 = pd.DataFrame(data=data2, columns=['ID', '종목명'])
df2.set_index('ID', inplace=True)

In [ ]:
df1

        Name
ID
100  Brayden
101    Clara
102     Ella
103   Oliver

In [ ]:
df2

       종목명
ID
100   삼성전자
100   LG전자
101    카카오
101  NAVER
101    현대차

In [ ]:
pd.merge(df1, df2, left_index=True, right_index=True)

        Name    종목명
ID
100  Brayden   삼성전자
100  Brayden   LG전자
101    Clara    카카오
101    Clara  NAVER
101    Clara    현대차

In [ ]:
import pandas as pd

data1 = {
    'ID': [100, 101, 102, 103],
    'Data': ['Brayden', 'Clara', 'Ella', 'Oliver']
}
data2 = [
    [100, "삼성전자"],
    [100, "LG전자"],
    [101, "카카오"],
    [101, "NAVER"],
    [101, "현대차"]
]

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data=data2, columns=['ID', 'Data'])

In [ ]:
pd.merge(df1, df2, on='ID')

    ID   Data_x Data_y
0  100  Brayden   삼성전자
1  100  Brayden   LG전자
2  101    Clara    카카오
3  101    Clara  NAVER
4  101    Clara    현대차

In [ ]:
import pandas as pd

data1 = {
    'ID': [100, 101, 102, 103],
    'Data': ['Brayden', 'Clara', 'Ella', 'Oliver']
}
data2 = [
    [100, "삼성전자"],
    [100, "LG전자"],
    [101, "카카오"],
    [101, "NAVER"],
    [101, "현대차"]
]

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data=data2, columns=['ID', 'Data'])

In [ ]:
pd.merge(df1, df2, on="ID", suffixes=('_name', '_item'))

    ID Data_name Data_item
0  100   Brayden      삼성전자
1  100   Brayden      LG전자
2  101     Clara       카카오
3  101     Clara     NAVER
4  101     Clara       현대차

In [ ]:
import pandas as pd

data1 = {
    'ID': [100, 101, 102, 103],
    '이름': ['Brayden', 'Clara', 'Ella', 'Oliver']
}
data2 = [
    [100, "삼성전자"],
    [100, "LG전자"],
    [101, "카카오"],
    [101, "NAVER"],
    [101, "현대차"]
]

df1 = pd.DataFrame(data1)
df1.set_index('ID', inplace=True)
df2 = pd.DataFrame(data=data2, columns=['ID', '종목명'])
df2.set_index('ID', inplace=True)

In [ ]:
df1

          이름
ID
100  Brayden
101    Clara
102     Ella
103   Oliver

In [ ]:
df2

       종목명
ID
100   삼성전자
100   LG전자
101    카카오
101  NAVER
101    현대차

In [ ]:
df1.join(df2, how='inner')

          이름    종목명
ID
100  Brayden   삼성전자
100  Brayden   LG전자
101    Clara    카카오
101    Clara  NAVER
101    Clara    현대차

In [ ]:
import pandas as pd

data1 = {
    'ID': [100, 101, 102, 103],
    '이름': ['Brayden', 'Clara', 'Ella', 'Oliver']
}
data2 = [
    [100, "삼성전자"],
    [100, "LG전자"],
    [101, "카카오"],
    [101, "NAVER"],
    [101, "현대차"]
]

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data=data2, columns=['ID', '종목명'])
df2.set_index('ID', inplace=True)

In [ ]:
df1

    ID       이름
0  100  Brayden
1  101    Clara
2  102     Ella
3  103   Oliver

In [ ]:
df2

       종목명
ID
100   삼성전자
100   LG전자
101    카카오
101  NAVER
101    현대차

In [ ]:
df1.join(df2, on='ID', how='inner')

    ID       이름    종목명
0  100  Brayden   삼성전자
0  100  Brayden   LG전자
1  101    Clara    카카오
1  101    Clara  NAVER
1  101    Clara    현대차

In [ ]:
import pandas as pd

data1 = {
    'ID': [100, 101, 102, 103],
    '이름': ['Brayden', 'Clara', 'Ella', 'Oliver']
}

data2 = [
    [100, "삼성전자"],
    [100, "LG전자"],
    [101, "카카오"],
    [101, "NAVER"],
    [101, "현대차"]
]

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data=data2, columns=['ID', '종목명'])

In [ ]:
df1.set_index('ID').join(df2.set_index('ID'), on='ID')

          이름    종목명
ID
100  Brayden   삼성전자
100  Brayden   LG전자
101    Clara    카카오
101    Clara  NAVER
101    Clara    현대차
102     Ella    NaN
103   Oliver    NaN

In [ ]:
import pandas as pd

data1 = {
    'ID': [100, 101, 102, 103],
    'Data': ['Brayden', 'Clara', 'Ella', 'Oliver']
}
data2 = [
    [100, "삼성전자"],
    [100, "LG전자"],
    [101, "카카오"],
    [101, "NAVER"],
    [101, "현대차"]
]

df1 = pd.DataFrame(data1)
df1.set_index('ID', inplace=True)
df2 = pd.DataFrame(data=data2, columns=['ID', 'Data'])
df2.set_index('ID', inplace=True)

In [ ]:
df1.join(df2, lsuffix='_name', rsuffix='_item')

    Data_name Data_item
ID
100   Brayden      삼성전자
100   Brayden      LG전자
101     Clara       카카오
101     Clara     NAVER
101     Clara       현대차
102      Ella       NaN
103    Oliver       NaN

### 181-190

In [ ]:
import pandas as pd

data = [
    ['Multiples', 'PER', 21.09, 13.55],
    ['Multiples', 'PBR', 2.06, 1.80],
    ['Dividends', 'DPS', 2944, 1444],
    ['Dividends', '배당성향', 78, 25]
]
columns = ['Category', 'Factor', 2020, 2021]
df = pd.DataFrame(data, columns=columns)
df

    Category Factor     2020     2021
0  Multiples    PER    21.09    13.55
1  Multiples    PBR     2.06     1.80
2  Dividends    DPS  2944.00  1444.00
3  Dividends   배당성향    78.00    25.00

In [ ]:
df.set_index(['Category', 'Factor'])

                     2020     2021
Category  Factor
Multiples PER       21.09    13.55
          PBR        2.06     1.80
Dividends DPS     2944.00  1444.00
          배당성향      78.00    25.00

pandas.MultiIndex.from_tuples

In [ ]:
import pandas as pd

tuples = [
    ('Multiples', 'PER'),
    ('Multiples', 'PBR'),
    ('Dividends', 'DPS'),
    ('Dividends', '배당성향')
]

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=['Category', 'Factor'])

In [ ]:
index

MultiIndex([('Multiples',  'PER'),
            ('Multiples',  'PBR'),
            ('Dividends',  'DPS'),
            ('Dividends', '배당성향')],
           names=['Category', 'Factor'])

In [ ]:
import pandas as pd

arrays = [
    ['Mutiples', 'Multiples', 'Dividends', 'Dividends'],
    ['PER', 'PBR', 'DPS', '배당성향']
]

In [ ]:
index = pd.MultiIndex.from_arrays(arrays, names=['Category', 'Factor'])

In [ ]:
import pandas as pd

tuples = [
    ('Multiples', 'PER'),
    ('Multiples', 'PBR'),
    ('Dividends', 'DPS'),
    ('Dividends', '배당성향')
]


data = [
    [21.09, 13.55],
    [2.06, 1.80],
    [2944, 1444],
    [78, 25]
]

columns = [2020, 2021]

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=['Category', 'Factor'])
df = pd.DataFrame(data=data, index=index, columns=columns)

In [ ]:
df

                     2020     2021
Category  Factor
Multiples PER       21.09    13.55
          PBR        2.06     1.80
Dividends DPS     2944.00  1444.00
          배당성향      78.00    25.00

In [ ]:
df.loc['Multiples']

         2020   2021
Factor
PER     21.09  13.55
PBR      2.06   1.80

In [ ]:
df.loc[('Multiples', 'PER')]

2020    21.09
2021    13.55
Name: (Multiples, PER), dtype: float64

In [ ]:
df.iloc[0]

2020    21.09
2021    13.55
Name: (Multiples, PER), dtype: float64

In [ ]:
df.loc[('Multiples','PER'),2020]

21.09

In [ ]:
df.sort_index()

                     2020     2021
Category  Factor
Dividends DPS     2944.00  1444.00
          배당성향      78.00    25.00
Multiples PBR        2.06     1.80
          PER       21.09    13.55

### 191 ~ 200

In [ ]:
before = [
    ('영업이익', '영업이익', '당기순이익', '당기순이익'), 
    ('컨센서스', '잠정치', '컨센서스', '잠정치')
]

after = [
    ('영업이익', '컨센서스'), 
    ('영업이익', '잠정치'), 
    ('당기순이익', '컨센서스'), 
    ('당기순이익', '잠정치')
]

In [ ]:
list(zip(before[0], before[1]))

[('영업이익', '컨센서스'), ('영업이익', '잠정치'), ('당기순이익', '컨센서스'), ('당기순이익', '잠정치')]

In [ ]:
list(zip(*before))

[('영업이익', '컨센서스'), ('영업이익', '잠정치'), ('당기순이익', '컨센서스'), ('당기순이익', '잠정치')]

In [ ]:
list(zip(*after))

[('영업이익', '영업이익', '당기순이익', '당기순이익'), ('컨센서스', '잠정치', '컨센서스', '잠정치')]