<a href="https://colab.research.google.com/github/phong0104/Study_Pandas300/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_300%EC%A0%9C_101_200.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 101~110

In [43]:
data = {
    '2020-12-11':	73400,
    '2020-12-10':	72900,
    '2020-12-09':	73900,
    '2020-12-08':	71700,
    '2020-12-07':	72900,
}

s = Series(data)
s

2020-12-11    73400
2020-12-10    72900
2020-12-09    73900
2020-12-08    71700
2020-12-07    72900
dtype: int64

In [44]:
s.sum()

364800

In [45]:
s.mean()

72960.0

In [46]:
data = {
    "2020-12-11": 1.01,
    "2020-12-10": 0.99,
    "2020-12-09": 1.03,
    "2020-12-08": 1.02,
    "2020-12-07": 1
}

s = Series(data)
print(s.product())

1.05049494

In [47]:
data = {
    '2020-12-11':	73400,
    '2020-12-10':	72900,
    '2020-12-09':	73900,
    '2020-12-08':	71700,
    '2020-12-07':	72900,
}

s = Series(data)
s.max()

73900

In [48]:
s.min()

71700

### 111~120

count

In [1]:
import numpy as np
from pandas import Series 

data = [1, 2, 3, 4, np.nan]
s = Series(data=data)

In [2]:
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
dtype: float64

In [7]:
len(s[s.isnull()])

1

In [8]:
s.count()

4

In [9]:
data = ["100", "200", "300"]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [10]:
s

철수    100
영희    200
아름    300
dtype: object

In [11]:
s.astype(int)

철수    100
영희    200
아름    300
dtype: int64

In [12]:
s.astype(np.int32)

철수    100
영희    200
아름    300
dtype: int32

In [14]:
data = ["100,000", "200,000", "300,000"]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s

철수    100,000
영희    200,000
아름    300,000
dtype: object

In [18]:
s.str.replace(',','').astype('int32')

철수    100000
영희    200000
아름    300000
dtype: int32

In [21]:
import pandas as pd

s = pd.Series(["30세", "40세", "50세"], index=["김대리", "이과장", "박차장"])
s

김대리    30세
이과장    40세
박차장    50세
dtype: object

In [23]:
s.str[:-1].astype('int32')

김대리    30
이과장    40
박차장    50
dtype: int32

In [24]:
import pandas as pd

s = pd.Series([1, 2, 3, 4], index=["d", "c", "a", "b"])
s

d    1
c    2
a    3
b    4
dtype: int64

In [27]:
s.sort_index()

a    3
b    4
c    2
d    1
dtype: int64

In [29]:
s.reindex(['a','b','c','d'])

a    3
b    4
c    2
d    1
dtype: int64

In [30]:
import pandas as pd
s = pd.Series([1, 2, 3])
s

0    1
1    2
2    3
dtype: int64

In [31]:
s.to_list()

[1, 2, 3]

In [32]:
list(s)

[1, 2, 3]

In [34]:
s.to_dict()

{0: 1, 1: 2, 2: 3}

In [35]:
dict(s)

{0: 1, 1: 2, 2: 3}

In [36]:
import pandas as pd

s = pd.Series([1, 2, 3, np.nan])
s

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [37]:
s.dropna()

0    1.0
1    2.0
2    3.0
dtype: float64

(Check) Series.map

In [39]:
import pandas as pd

s = pd.Series(["1,234", "5,678", "9,876"])
s

0    1,234
1    5,678
2    9,876
dtype: object

In [40]:
s.map(',','')

ValueError: ignored

In [41]:
import pandas as pd

s = pd.Series([10, 100, 1000])
s

0      10
1     100
2    1000
dtype: int64

In [42]:
s.apply(np.log10)

0    1.0
1    2.0
2    3.0
dtype: float64

### 121~130

dropna

In [49]:
import numpy as np
from pandas import Series

data = [1, 2, 3, 4, np.nan]
s = Series(data=data)
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
dtype: float64

In [50]:
s.dropna()

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

nlargest

In [51]:
from pandas import Series

data = range(1, 11)
s = Series(data=data)
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [52]:
s.nlargest(3)

9    10
8     9
7     8
dtype: int64

nsmallest

In [53]:
from pandas import Series

data = range(1, 11)
s = Series(data=data)
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [54]:
s.nsmallest(3)

0    1
1    2
2    3
dtype: int64

Series.dt.year

In [55]:
import pandas as pd
from datetime import datetime
s = pd.Series([datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)])
s

0   2020-01-01
1   2021-01-01
2   2022-01-01
dtype: datetime64[ns]

In [56]:
s.dt.year

0    2020
1    2021
2    2022
dtype: int64

In [58]:
import pandas as pd
from datetime import datetime

index = [datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)]
data = [100, 200, 300]
s = pd.Series(data=data, index=index)
s

2020-01-01    100
2021-01-01    200
2022-01-01    300
dtype: int64

In [60]:
s.index.year

Int64Index([2020, 2021, 2022], dtype='int64')

Series.dt.day

In [61]:
import pandas as pd
from datetime import datetime
s = pd.Series([datetime(2022,1,1), datetime(2022,1,2), datetime(2022,1,3)])

In [62]:
s.dt.day

0    1
1    2
2    3
dtype: int64

strftime

In [64]:
import pandas as pd
from datetime import datetime

index = [datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)]
data = [100, 200, 300]
s = pd.Series(data=data, index=index)
s

2020-01-01    100
2021-01-01    200
2022-01-01    300
dtype: int64

In [68]:
s.index.strftime('%Y-%m-%d 00:00:00')

Index(['2020-01-01 00:00:00', '2021-01-01 00:00:00', '2022-01-01 00:00:00'], dtype='object')

Series.str.cat

In [69]:
import pandas as pd

s = pd.Series(["000020", "000040", "005930"])

In [70]:
s

0    000020
1    000040
2    005930
dtype: object

In [73]:
s.str.cat(sep=';')

'000020;000040;005930'

In [74]:
import pandas as pd

s = pd.Series(["000020", "000040", "005930"])
s

0    000020
1    000040
2    005930
dtype: object

In [75]:
'A' + s

0    A000020
1    A000040
2    A005930
dtype: object

Series.str.zfill

In [76]:
import pandas as pd

s = pd.Series(["20", "40", "5930"])

In [77]:
s.str.zfill(6)

0    000020
1    000040
2    005930
dtype: object

### 091~100 DataFrame 생성

In [78]:
pd.DataFrame({'이름':['김은수','박정민','이하나'], '나이':[35,30,28], '직책':['과장','대리','대리']})

    이름  나이  직책
0  김은수  35  과장
1  박정민  30  대리
2  이하나  28  대리

In [80]:
pd.DataFrame(data=[['김은수','박정민','이하나'], [35,30,28], ['과장','대리','대리']], columns=['이름','나이','직책'])

    이름   나이   직책
0  김은수  박정민  이하나
1   35   30   28
2   과장   대리   대리

In [81]:
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005760   ACTS  1185  1.28

In [82]:
df.set_index('종목코드')

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [85]:
df = df.set_index('종목코드')
df.index.name = '종목코드'

In [86]:
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [88]:
import pandas as pd

index = ["037730", "036360", "005760"]
data = [["3R", "1510"],
         ["3SOFT", 1790],
         ["ACTS", 1185]]
columns = ["종목명", "현재가"]

In [89]:
pd.DataFrame(data=data, index=index, columns=columns)

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790
005760   ACTS  1185

In [93]:
pd.DataFrame(np.arange(8).reshape(2,4))

   0  1  2  3
0  0  1  2  3
1  4  5  6  7

In [94]:
import pandas as pd

index = ["037730", "036360", "005760"]
data = [["3R", "1510"],
         ["3SOFT", 1790],
         ["ACTS", 1185]]
columns = ["종목명", "현재가"]
df = pd.DataFrame(data=data, index=index, columns=columns)
df

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790
005760   ACTS  1185

In [95]:
df.reset_index()

    index    종목명   현재가
0  037730     3R  1510
1  036360  3SOFT  1790
2  005760   ACTS  1185

In [96]:
df.index

Index(['037730', '036360', '005760'], dtype='object')

In [97]:
df.columns

Index(['종목명', '현재가'], dtype='object')

In [98]:
d = {'col1': [1, 2], 'col2': [3, 4]}

In [100]:
pd.DataFrame(d, dtype=np.int8)

   col1  col2
0     1     3
1     2     4

In [101]:
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

In [102]:
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [104]:
df[['현재가']]

         현재가
종목코드
037730  1510
036360  1790
005760  1185

In [105]:
df[['현재가','등락률']]

         현재가   등락률
종목코드
037730  1510  7.36
036360  1790  1.65
005760  1185  1.28

In [106]:
df.iloc[0]

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [107]:
df.iloc[-1]

종목명    ACTS
현재가    1185
등락률    1.28
Name: 005760, dtype: object

In [109]:
df.iloc[[0,2]]

         종목명   현재가   등락률
종목코드
037730    3R  1510  7.36
005760  ACTS  1185  1.28

In [110]:
df.loc['037730']

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [111]:
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [112]:
df.loc[['037730','005760']]

         종목명   현재가   등락률
종목코드
037730    3R  1510  7.36
005760  ACTS  1185  1.28

In [114]:
df.iloc[0, 2]

7.36

In [118]:
df.iat[0,2]

7.36

In [119]:
df.at['037730', '등락률']

7.36

### 111~120